@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

.body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    min-width:  100vw;
    min-height: 100vh;
    background-color: hsl(0, 0%, 98%);
    color: hsl(229, 6%, 66%);
    overflow: hidden;
}

p, h5{
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1020px;
    padding: 30px 20px;
}

.main{
    margin-top: 35px;
    display: flex;
    gap: 20px;
}

.box_text h5{
    font-size: 20px;
    color: hsl(234, 12%, 34%);
    margin-bottom: 10px;
}

.box_text p{
    margin-bottom: 35px;
}

.box img{
    
    height: 2rem;
}

.box{

}

.box1{

}

.box2{
    
}

.box3{
    
}

.box4{
    
}
